.releases-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%; }

.releases-body {
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%; }

.releases-mac {
  background: #A6DDF8; }

.releases-item {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  background: #A6DDF8;
  transition: background 0.2s; }
  .releases-item:hover {
    background: #047273; }
    .releases-item:hover > p {
      color: #fff; }
  .releases-item > p {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    color: #333;
    transition: color 0.2s; }

.releases-item .release-version {
  color: #FA1300; }

.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px; }

.main-body {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.main-header {
  padding: 40px 0 30px;
  width: 100%;
  border-bottom: 5px solid #047273;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; }

.main-heading {
  font-family: 'Quicksand', sans-serif;
  color: #555;
  margin-bottom: 0;
  letter-spacing: 1px;
  text-align: center; }
  .main-heading.no-margin {
    margin: 0; }

.main-logo-img {
  width: 200px;
  margin-bottom: 10px; }

.main-title {
  font-family: 'Quicksand', sans-serif;
  color: #FA1300;
  text-transform: uppercase;
  letter-spacing: 12px;
  font-size: 20px;
  margin: 0;
  font-weight: lighter;
  text-align: center; }
  .main-title.small {
    font-size: 10px; }



.heading-1 {
  font-family: 'Quicksand', sans-serif;
  color: #555;
  letter-spacing: 1px;
  font-size: 32px; }

.sub-heading-1 {
  font-family: 'Quicksand', sans-serif;
  color: #555;
  letter-spacing: 1px;
  font-size: 25px;
  margin: 5px 0; }
