@import "./scss/Colors.scss";
@import "./scss/Fonts.scss";

.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.main-body {
     width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.main-header {
    padding: 40px 0 30px;
    width: 100%;
    border-bottom: 5px solid $teal;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.main-heading {
    @include Quicksand();
    color: $five;
    margin-bottom: 0;
    letter-spacing: 1px;

    &.no-margin {
        margin: 0;
    }
}

.main-logo-img {
    width: 200px;
    margin-bottom: 10px;
}

.main-title {
    @include Quicksand();
    color: $pingerRed;
    text-transform: uppercase;
    letter-spacing: 12px;
    font-size: 20px;
    margin: 0;
    font-weight: lighter;
    text-align: center;

    &.small {
        font-size: 10px;
    }
}

