
@mixin Open-sans() {
    font-family: 'Open Sans', sans-serif;
}
@mixin Khula() {
    font-family: 'Khula', sans-serif;
}
@mixin Raleway() {
    font-family: 'Raleway', sans-serif;
}
@mixin Titillium() {
    font-family: 'Titillium Web', sans-serif;
}
@mixin Quicksand() {
    font-family: 'Quicksand', sans-serif;
}
@mixin Karla() {
    font-family: 'Karla', sans-serif;
}