@import "./Fonts.scss";
@import "./Colors.scss";

.heading-1 {
    @include Quicksand();
    color: $five;
    letter-spacing: 1px;
    font-size: 32px;
}

.sub-heading-1 {
    @include Quicksand();
    color: $five;
    letter-spacing: 1px;
    font-size: 25px;
}