@import "./scss/Colors.scss";
@import "./scss/Fonts.scss";

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Khula', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Titillium Web', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Karla', sans-serif;
*/
.releases-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.releases-body {
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.releases-mac {
    background: $nice-and-blue;
}

